.PrivateTabIndicator-colorSecondary-3 {
    background-color: #f50057;
    background-color: rgb(68, 187, 255) !important;
    width: 100% !important;
    opacity: 0.5;
}

.root {
    height: 100vh;
    /* height: 224px; */
    display: flex;
    flex-grow: 1;
    background-color: white;
}

.tabs {
    border-right: 1px solid black;
}

#home,
#about,
#portfolio,
#contact {
    width: 100%;
}

#home {
    background-color: violet;
}

#about {
    background-color: yellowgreen;
}

#portfolio {
    background-color: white;
}

#contact {
    background-color: brown;
}