#root {
    width: 100%;
    flex-grow: 1;
}

.MuiAppBar-colorPrimary {
    position: fixed !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: black !important;
    z-index: 99999 !important;
}

.MuiToolbar-regular {
    min-height: 64px;
}

#title {
    text-decoration: none;
    color: black;
}

#middle-title {
    flex-grow: 1;
}